In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [4]:
movies=pd.read_csv("moviesL.csv")

def repl(str1):
    return str1.replace('|',' ')    

movies.genres=movies.genres.apply(repl)

movierate=[np.nan]*len(movies)
movies=movies.assign(rating=movierate)

movies.set_index('movieId',inplace=True)
movies

,title,genres,rating
movieId,,,
1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,NaN
2,Jumanji (1995),Adventure Children Fantasy,NaN
3,Grumpier Old Men (1995),Comedy Romance,NaN
4,Waiting to Exhale (1995),Comedy Drama Romance,NaN
5,Father of the Bride Part II (1995),Comedy,NaN
...,...,...,...
193876,The Great Glinka (1946),(no genres listed),NaN
193878,Les tribulations d'une caissière (2011),Comedy,NaN
193880,Her Name Was Mumu (2016),Drama,NaN
193882,Flora (2017),Adventure Drama Horror Sci-Fi,NaN
193886,Leal (2018),Action Crime Drama,NaN

In [5]:
ratings=pd.read_csv("ratingsL.csv")
del ratings['timestamp']
avg_ratings=ratings.groupby('movieId').mean()
avg_ratings.reset_index(inplace = True) 
del avg_ratings['userId']
avg_ratings.set_index('movieId',inplace=True)
avg_ratings

           rating
movieId
1        3.886649
2        3.246583
3        3.173981
4        2.874540
5        3.077291
...           ...
193876   3.000000
193878   2.000000
193880   2.000000
193882   2.000000
193886   3.250000

[53889 rows x 1 columns]

In [6]:
for i in avg_ratings.index:
    movies.rating[i]=avg_ratings.rating[i]

movies.dropna(how='any',inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
movies

,title,genres,rating
movieId,,,
1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,3.886649
2,Jumanji (1995),Adventure Children Fantasy,3.246583
3,Grumpier Old Men (1995),Comedy Romance,3.173981
4,Waiting to Exhale (1995),Comedy Drama Romance,2.874540
5,Father of the Bride Part II (1995),Comedy,3.077291
...,...,...,...
193876,The Great Glinka (1946),(no genres listed),3.000000
193878,Les tribulations d'une caissière (2011),Comedy,2.000000
193880,Her Name Was Mumu (2016),Drama,2.000000
193882,Flora (2017),Adventure Drama Horror Sci-Fi,2.000000
193886,Leal (2018),Action Crime Drama,3.250000

In [8]:
genre_list=['Action','Adventure','Animation','Children','Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western']

ls2=[]
for x in genre_list:
    ls1=[]
    for i in movies.index:
        if x in movies.genres[i]:
            ls1.append(1)
        else:
            ls1.append(0)
    ls2.append(ls1)
    
for i in range(0,len(genre_list)):
    movies[genre_list[i]]=ls2[i]

In [9]:
movies

,title,genres,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,3.886649,0,1,1,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2,Jumanji (1995),Adventure Children Fantasy,3.246583,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,Grumpier Old Men (1995),Comedy Romance,3.173981,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,Waiting to Exhale (1995),Comedy Drama Romance,2.874540,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
5,Father of the Bride Part II (1995),Comedy,3.077291,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193876,The Great Glinka (1946),(no genres listed),3.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
193878,Les tribulations d'une caissière (2011),Comedy,2.000000,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
193880,Her Name Was Mumu (2016),Drama,2.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
193882,Flora (2017),Adventure Drama Horror Sci-Fi,2.000000,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
193886,Leal (2018),Action Crime Drama,3.250000,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [102]:
#//////////////////////////

In [10]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [11]:
scaled_movies=scaler.fit_transform(movies[['rating', 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western']])

In [12]:
movies.index

Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            193866, 193868, 193870, 193872, 193874, 193876, 193878, 193880,
            193882, 193886],
           dtype='int64', name='movieId', length=53889)

In [13]:
scaled_movies=pd.DataFrame(scaled_movies,columns=['rating', 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western'],index=movies.index)

In [14]:
scaled_movies

,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,,
1,1.111134,-0.372554,3.662859,4.405962,4.384178,1.613061,-0.309795,-0.316937,-0.849428,4.479604,-0.082008,-0.327880,-0.142669,-0.223966,-0.382819,-0.256105,-0.40941,-0.179714,-0.143816
2,0.241757,-0.372554,3.662859,-0.226965,4.384178,-0.619939,-0.309795,-0.316937,-0.849428,4.479604,-0.082008,-0.327880,-0.142669,-0.223966,-0.382819,-0.256105,-0.40941,-0.179714,-0.143816
3,0.143145,-0.372554,-0.273011,-0.226965,-0.228093,1.613061,-0.309795,-0.316937,-0.849428,-0.223234,-0.082008,-0.327880,-0.142669,-0.223966,2.612203,-0.256105,-0.40941,-0.179714,-0.143816
4,-0.263574,-0.372554,-0.273011,-0.226965,-0.228093,1.613061,-0.309795,-0.316937,1.177263,-0.223234,-0.082008,-0.327880,-0.142669,-0.223966,2.612203,-0.256105,-0.40941,-0.179714,-0.143816
5,0.011814,-0.372554,-0.273011,-0.226965,-0.228093,1.613061,-0.309795,-0.316937,-0.849428,-0.223234,-0.082008,-0.327880,-0.142669,-0.223966,-0.382819,-0.256105,-0.40941,-0.179714,-0.143816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193876,-0.093167,-0.372554,-0.273011,-0.226965,-0.228093,-0.619939,-0.309795,-0.316937,-0.849428,-0.223234,-0.082008,-0.327880,-0.142669,-0.223966,-0.382819,-0.256105,-0.40941,-0.179714,-0.143816
193878,-1.451428,-0.372554,-0.273011,-0.226965,-0.228093,1.613061,-0.309795,-0.316937,-0.849428,-0.223234,-0.082008,-0.327880,-0.142669,-0.223966,-0.382819,-0.256105,-0.40941,-0.179714,-0.143816
193880,-1.451428,-0.372554,-0.273011,-0.226965,-0.228093,-0.619939,-0.309795,-0.316937,1.177263,-0.223234,-0.082008,-0.327880,-0.142669,-0.223966,-0.382819,-0.256105,-0.40941,-0.179714,-0.143816
193882,-1.451428,-0.372554,3.662859,-0.226965,-0.228093,-0.619939,-0.309795,-0.316937,1.177263,-0.223234,-0.082008,3.049894,-0.142669,-0.223966,-0.382819,3.904652,-0.40941,-0.179714,-0.143816
193886,0.246398,2.684172,-0.273011,-0.226965,-0.228093,-0.619939,3.227937,-0.316937,1.177263,-0.223234,-0.082008,-0.327880,-0.142669,-0.223966,-0.382819,-0.256105,-0.40941,-0.179714,-0.143816

In [15]:
inertias=[]
for k in range(1,101):
    kmeans=KMeans(n_clusters=k,init='k-means++')
    kmeans.fit_transform(scaled_movies[['rating', 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western']])
    inertias.append(kmeans.inertia_)

KeyboardInterrupt:

In [ ]:
plt.scatter(range(1,101),inertias)
plt.show()

In [20]:
k=29

In [21]:
kmeans=KMeans(n_clusters=29,init='k-means++')
kmeans.fit_transform(scaled_movies[['rating', 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western']])

array([[ 9.9243448 , 10.27554111,  9.92665742, ..., 10.92002619,
         9.73000877,  9.7678451 ],
       [ 8.43907426,  8.87109269,  8.4544559 , ...,  9.59886704,
         8.33574789,  8.25929121],
       [ 2.89054836,  5.73865744,  4.93601211, ...,  7.09953463,
         4.594133  ,  4.70673422],
       ...,
       [ 3.43028864,  4.82856445,  3.92381374, ...,  6.341278  ,
         3.57403267,  3.30460388],
       [ 7.47318318,  8.14137076,  6.05280018, ...,  7.58044893,
         7.54775649,  7.42514181],
       [ 5.50603962,  3.71315244,  6.04699767, ...,  7.75876254,
         3.83137988,  5.58396967]])

In [22]:
movies['cluster']=kmeans.labels_

In [23]:
movies

,title,genres,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,cluster
movieId,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,3.886649,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,20
2,Jumanji (1995),Adventure Children Fantasy,3.246583,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,20
3,Grumpier Old Men (1995),Comedy Romance,3.173981,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,16
4,Waiting to Exhale (1995),Comedy Drama Romance,2.874540,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,16
5,Father of the Bride Part II (1995),Comedy,3.077291,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193876,The Great Glinka (1946),(no genres listed),3.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
193878,Les tribulations d'une caissière (2011),Comedy,2.000000,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,3
193880,Her Name Was Mumu (2016),Drama,2.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14
193882,Flora (2017),Adventure Drama Horror Sci-Fi,2.000000,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,25
193886,Leal (2018),Action Crime Drama,3.250000,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,8

In [124]:
input_movies=list(movies.title[0:10])
input_movies

['Toy Story (1995)',
 'Jumanji (1995)',
 'Grumpier Old Men (1995)',
 'Waiting to Exhale (1995)',
 'Father of the Bride Part II (1995)',
 'Heat (1995)',
 'Sabrina (1995)',
 'Tom and Huck (1995)',
 'Sudden Death (1995)',
 'GoldenEye (1995)']

In [113]:
movies

,title,genres,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,cluster
movieId,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,3.886649,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,14
2,Jumanji (1995),Adventure Children Fantasy,3.246583,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,19
3,Grumpier Old Men (1995),Comedy Romance,3.173981,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,3
4,Waiting to Exhale (1995),Comedy Drama Romance,2.874540,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,3
5,Father of the Bride Part II (1995),Comedy,3.077291,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193876,The Great Glinka (1946),(no genres listed),3.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
193878,Les tribulations d'une caissière (2011),Comedy,2.000000,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,18
193880,Her Name Was Mumu (2016),Drama,2.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
193882,Flora (2017),Adventure Drama Horror Sci-Fi,2.000000,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,26
193886,Leal (2018),Action Crime Drama,3.250000,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,20

In [125]:
title_list=list(movies.title)
input_movies_id=[]

for i in range(0,10):
    mov=input_movies[i]
    for j in movies.index:
        if mov==movies.title[j]:
            input_movies_id.append(j)

In [126]:
input_movies_id

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [128]:
cluster_list=[]

for i in range(0,10):
    cluster_list.append(movies.cluster[input_movies_id[i]])

In [131]:
cluster_list=set(cluster_list)
cluster_list=list(cluster_list)
cluster_list

[0, 2, 3, 7, 14, 18, 19, 25]

In [134]:
indices=list(movies.index[::-1])

In [138]:
recommend=[]

for i in cluster_list:
    for j in indices:
        if movies.cluster[j]==i:
            recommend.append(movies.title[j])
            break

In [139]:
recommend

['The Stone Killer (1973)',
 'Bundy: An American Icon (2008)',
 'Nappily Ever After (2018)',
 'Homecoming (2017)',
 'Большой Ух (1989)',
 "Les tribulations d'une caissière (2011)",
 'Wu Kong (2017)',
 'Raazi (2018)']